venv/
.env
dataset/
logs/
model/
research/training_results_v1/rice_leaf.mp4
research/rice leaf detection system/S2589721723000430.htm

research/project photos/

xception_fine_tuned_rice_leaf_model_25.h5
xception_fine_tuned_rice_leaf_model_25.keras
xception_fine_tuned_rice_leaf_model_30.keras